.wrap-login {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
  
  
  
  .login-left-side {
    width: calc(100% - 70%);
    background-color: #171745;
    position: relative;
    z-index: 1;
  }
  
  .login-right-side {
    width: 70%;
    min-height: 100vh;
    display: block;
    background: rgb(28, 125, 236);
    background: linear-gradient(200deg, #1c7dec 0%, #181f56 110%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background: #1E468D;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    padding: 50px 100px;
    width: 70%;
    max-width: 600px;
  }
  
  .login-form-title {
    width: 100%;
    display: grid;
    font-size: 54px;
    color: #58E2C2;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 200px;
    height: calc(2.75em + 2px);
    border-radius: 50px;
    background: #1C7DEC;
    border: 1px solid transparent;
    font-size: 1rem;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login-form-btn:hover {
    background: #58E2C2;
  }
  
  @media (max-width: 992px) {
    .login-form {
      width: 50%;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .login-more {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .login-form {
      width: 100%;
    }
  
    .login-more {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    .login-form {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 70px;
    }
  }
  
  .login-form-title span {
    font-size: 1.25rem;
    color: #fff;
    margin-top: 15px;
  }
  
  .z-index-1 {
    z-index: 1;
  }
  
  .leftside-element {
    position: absolute;
    bottom: -120px;
    width: 100%;
  }
  
  .form-control {
    height: calc(2.75em + 2px);
    border-radius: 50px;
  }
  
  }

  .dropdown-item {
    color: #fff;
  }

  .dropdown-menu {
    color: #fff;
    background-color: #171745;
}

.error {
  font-size: 14px;
  color: #F54420;
}

.error-msg {
  margin-bottom: 20px;
  text-align: left;
}